/* .hero {
    background: url("../../images/picture.jpg");
    background-size: cover;
    width: 100%;
} */

.hero {
    width: 100%;
    min-height: 100vh;
    background: url("../../images/picture.jpg");
    background-size: cover;
    background-position: center;

    background-repeat: no-repeat;
    padding-left: 64px;
    padding-top: 260px;
}

.title {
    font-weight: 600;
    font-size: 48px;
    line-height: 67%;
    color: var(--inputs);
    margin-bottom: 10px;
}

.heroText {

    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--inputs);
    margin-bottom: 40px;
}

.btn {
    border-radius: 200px;
    padding: 16px 60px;
    min-width: 173px;


    background: var(--button);
    outline: none;
    border: none;
    transition: background 300ms ease-in-out;
}

.btnLink {
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    text-decoration: none;
}

.btn:hover {
    background: var(--button-hover);
}