.container {
    padding: 24px;
    display: inline-flex;
    gap: 24px;
}

.picture {
    width: 292px;
    height: 320px;
    background-size: cover;
    background-position: center top;
    border-radius: 10px;

}



.iconHeart {
    width: 24px;
    height: 21px;

    transition: fill 200ms ease-in-out;
    cursor: pointer;
}

.iconHeart.favourite {
    fill: var(--button);
}

.iconHeart:hover {
    fill: var(--button);
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.priceContainer {
    display: flex;
    gap: 8px;
    align-items: center;
}

.infoContainer {
    width: 524px;
}

.name {
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--main);
}

.price {
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--main);
}

.iconStar {
    width: 16px;
    height: 16px;
    fill: var(--rating);
    margin-right: 4px;
}

.mainInfo {
    display: flex;
    flex-direction: column;
}

.iconMap {
    stroke: var(--main);
    width: 20px;
    height: 20px;
    margin-left: 16px;
    margin-right: 4px;
}

.details {
    display: flex;
    margin-top: 8px;
    align-items: center;
    margin-bottom: 24px;
}

.description {
    margin-bottom: 24px;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--text);
}

.btn {
    border-radius: 200px;
    padding: 16px 60px;
    width: 166px;

    background: var(--button);

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--white);
    text-decoration: none;
    transition: background 300ms ease-in-out;

}

.btn:hover {
    background: var(--button-hover);
}

.icon {
    width: 20px;
    height: 20px;
    fill: var(--main);
}

.iconText {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--main);
}

.iconItem {
    display: flex;
    gap: 8px;
    padding: 12px 18px;
}

.iconList {
    margin-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}