.checkboxContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 2px solid transparent;
    cursor: pointer;
    width: 112px;
    height: 96px;
    border: 1px solid transparent;
    border-radius: 12px;
    /* padding: 16px 18px; */
    gap: 8px;
}

.sidebar {
    width: 360px;
}

.checkboxContainer.active {
    border-color: red;
}

.hiddenCheckbox {
    display: none;
}

.icon {
    width: 32px;
    height: 32px;

}

.text {

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--main);
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.vehicleTitle {

    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: var(--main);
    margin-bottom: 48px;
    margin-top: 32px;
}

.filterText {

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--text);
    margin-top: 40px;
}

.locationText {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray);
}

.locationCont {
    width: 360px;
}

.location {
    border-radius: 12px;
    padding: 18px 218px 18px 36px;
    width: 360px;
    height: 56px;
    background: var(--inputs);
    border: none;
    outline: transparent;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--main);



}

.location::placeholder {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray);
}

.inputWrapper {
    position: relative;
}

.iconMap {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    stroke: var(--gray);
    transition: stroke 0.3s ease;
}

.location::placeholder .iconMap {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);



}



.location:focus~.iconMap {
    stroke: var(--main);
}

.vechileText {

    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: var(--main);
    margin-bottom: 48px;
}

.filterVechile {
    display: flex;
    gap: 12px;
    margin-bottom: 40px;
}

.btn {
    border-radius: 200px;
    padding: 16px 60px;
    width: 166px;
    height: 56px;
    background: var(--button);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--white);
    border: none;
    outline: transparent;
    transition: background 300ms ease-in-out;
}

.btn:hover {
    background: var(--button-hover);
}